<div class="grid-container">
  <div class="grid-item">
    <h2>Detections Today</h2>
    @if (stats) {
    <p class="stat-number">{{ stats.numberDetectionsToday }}</p>
    }
  </div>
  <div class="grid-item">
    <h2>Species Today</h2>
    @if (stats) {
    <p class="stat-number">{{ stats.numberSpeciesToday }}</p>
    }
  </div>
  <div class="grid-item">
    <h2>New Species Today</h2>
    @if (stats) {
        @if (stats.newSpeciesToday?.length > 0) {
            @for (bird of stats.newSpeciesToday; track bird) {
              <div class="bird-item" (click)="goToBirdDetail(bird.Sci_Name)">
                  <img class="bird-mark" [src]="'birds/' + bird.Sci_Name.replace(' ', '_') + '_mark.png'" alt="{{ bird.Com_Name }}">
                  <p class="bird-name">{{ bird.Com_Name }}</p>
              </div>
            }
        } @else {
            <p class="stat-number">0</p>
        }
    }
  </div>
  <div class="grid-item">
    <h2>Rare Species Today</h2>
    @if (stats) {
        @if (stats.rareSpeciesToday?.length > 0) {
            @for (bird of stats.rareSpeciesToday; track bird.Sci_Name) {
              <div class="bird-item" (click)="goToBirdDetail(bird.Sci_Name)">
                  <img class="bird-mark" [src]="'birds/' + bird.Sci_Name.replace(' ', '_') + '_mark.png'" alt="{{ bird.Com_Name }}">
                  <p class="bird-name">{{ bird.Com_Name }}</p>
              </div>
            }
        } @else {
            <p class="stat-number">0</p>
        }
    }
  </div>
</div>

